*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --bg-color: rgba(0, 122, 211, 1);
  --bg-image: linear-gradient(315deg, rgba(0, 99, 171, 1) 0%, rgba(0, 122, 211, 1) 50%, rgba(0, 147, 255, 1) 100%);
  --text-color: #FEFEFE;
  --link-active-color: rgb(1, 86, 147);
}

.page {
  height: 100%;
  font-family: 'Karla', sans-serif;
  font-display: swap;
}

.page__body {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-height: 100%;
  margin: 0;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  color: var(--text-color);
}

.main {
  text-align: center;
}

.main__photo {
  width: 192px;
  height: 192px;
  border-radius: 50%;
}

.main__title {
  margin-bottom: 0;
}

.main__desc {
  margin-top: 0;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 1em;
  display: flex;
  justify-content: space-between;
}

.nav__list-item {
  margin: 1em;
}

.nav__link {
  display: inline-block;
  border-radius: 8px;
  width: 64px;
  height: 64px;
}

.nav__link:hover,
.nav__link:focus {
  outline: none;
  background-color: var(--link-active-color);
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
